.input-area {
    border-color: gray;
}

.style-details{
    background-color: rgb(158, 130, 58);
    margin-bottom: 40px;
    margin-top: 45px;
}
.style{
    background-color: rgb(158, 130, 58);;
    
    
}