.add-service{
    background-color: rgb(148, 83, 83);
    padding: 50px;
}

.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}